/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
#trpltx-backend-container {
	margin: auto;
	border: solid 1px red;
}

.wp-block-cgb-block-trptx-bilagsslider {
	color: $dark;
	margin: 0 auto;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "roboto";
}
