/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
#tpltx-container {
	max-width: 100%;
	background-color: $gray;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wp-block-cgb-block-trptx-bilagsslider {
	padding: 100px 20px;
	color: $dark;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "roboto";
	width: 1280px;
}

.tpltx_title-container {
	max-width: 700px;
	text-align: center;
}

.tpltx_title {
	font-family: "roboto";
	font-size: 30px;
	font-weight: 900;
	line-height: 35px;
	padding: 0 0 20px;
}

.tpltx_description {
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	padding: 0 50px;
	margin: auto;
}

.tpltx_slider-container {
	background-color: #fff;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	padding: 50px;
	margin: 50px auto;
	max-width: 1035px;
	width: 100%;
}

.tpltx_col-slider {
	width: 70%;
	padding-right: 100px;
}

.slider-title {
	font-size: 18px;
	line-height: 21px;
	font-weight: 500;
	color: $accent;
	padding: 0 0 20px;
}

.slider-text {
	font-size: 30px;
	line-height: 35px;
	font-weight: 900;
	color: $dark;
	padding: 0 0 25px;
}

.tpltx_col-result {
	align-items: center;
	background-color: $dark;
	border-radius: 10px;
	color: $white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
	width: 350px;
	height: 150px;
}

.tpltx_result-title {
	font-family: "roboto";
	font-size: 24px;
	font-weight: 900;
	line-height: 28px;
	padding: 0 0 10px;
}

.tpltx_result-text {
	font-family: "roboto";
	font-size: 60px;
	font-weight: 900;
	line-height: 70px;
	color: $accent;
}

.tpltx_button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $accent;
	border-radius: 18px;
	font-size: 16px;
	font-weight: 500;
	color: $white;
	height: 50px;
	width: 180px;
	text-decoration: none;
	// margin: 50px auto 0;
}

// .tpltx_button:hover {
// 	background-color: $dark;
// }

/**********Responsive*********/
@media (max-width: 1025px) {
	.wp-block-cgb-block-trptx-bilagsslider {
		padding: 50px 20px 50px;
	}
	.tpltx_slider-container {
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		text-align: center;
		margin: 20px 0 50px;
		padding: 0;
	}
	.tpltx_col-slider {
		width: 100%;
		padding: 50px 20px;
	}
	.tpltx_col-result {
		width: 100%;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
	}
	.tpltx_result-title {
		font-size: 18px;
	}

	.tpltx_result-text {
		font-size: 40px;
	}
}

/*****Slider styles******/
//Hiding the slider in all browsers
#tpltx-bilagsslider {
	-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
	width: 100%; /* Specific width is required for Firefox. */
	background: transparent; /* Otherwise white in Chrome */
}

#tpltx-bilagsslider::-webkit-slider-thumb {
	-webkit-appearance: none;
}

#tpltx-bilagsslider:focus {
	outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

#tpltx-bilagsslider::-ms-track {
	width: 100%;
	cursor: pointer;

	/* Hides the slider so custom styles can be added */
	background: transparent;
	border-color: transparent;
	color: transparent;
}

//Cross browser slider styles
#tpltx-bilagsslider {
	height: 36px;
	-webkit-appearance: none;
	margin: 10px 0;
	width: 100%;
}
#tpltx-bilagsslider:focus {
	outline: none;
}
#tpltx-bilagsslider::-webkit-slider-runnable-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	box-shadow: 0px 0px 0px $dark;
	background: $dark;
	border-radius: 5px;
	border: 0px solid $dark;
}
#tpltx-bilagsslider::-webkit-slider-thumb {
	box-shadow: 0px 0px 0px $dark;
	border: 0px solid $dark;
	height: 30px;
	width: 30px;
	border-radius: 15px;
	background: $dark;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -12.5px;
}
#tpltx-bilagsslider:focus::-webkit-slider-runnable-track {
	background: $dark;
}
#tpltx-bilagsslider::-moz-range-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	box-shadow: 0px 0px 0px $dark;
	background: $dark;
	border-radius: 5px;
	border: 0px solid $dark;
}
#tpltx-bilagsslider::-moz-range-thumb {
	box-shadow: 0px 0px 0px $dark;
	border: 0px solid $dark;
	height: 30px;
	width: 30px;
	border-radius: 15px;
	background: $dark;
	cursor: pointer;
}
#tpltx-bilagsslider::-ms-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
#tpltx-bilagsslider::-ms-fill-lower {
	background: $dark;
	border: 0px solid $dark;
	border-radius: 10px;
	box-shadow: 0px 0px 0px $dark;
}
#tpltx-bilagsslider::-ms-fill-upper {
	background: $dark;
	border: 0px solid $dark;
	border-radius: 10px;
	box-shadow: 0px 0px 0px $dark;
}
#tpltx-bilagsslider::-ms-thumb {
	margin-top: 1px;
	box-shadow: 0px 0px 0px $dark;
	border: 0px solid $dark;
	height: 30px;
	width: 30px;
	border-radius: 15px;
	background: $dark;
	cursor: pointer;
}
#tpltx-bilagsslider:focus::-ms-fill-lower {
	background: $dark;
}
#tpltx-bilagsslider:focus::-ms-fill-upper {
	background: $dark;
}
